<%= stylesheet_link_tag "home", "data-turbolinks-track" => true %>
<body id="HomePage">

<section>

    <!-- end of mainContentWrapper -->
    <div class="bannerWrapper">
        <div id="gallery-1" class="royalSlider rsDefault">
            <div class="rsContent">

                <img class="rsImg" src="https://resources.luxuryretreats.com/images/home_gaia_slim.jpg" />

                <div class="hmBannerTextWrapper">
                    <div class="rsCapTextBlock">

                        <div class="hmBannerTitle">
                            <div class="titleFont uppercase">
                                <span class="large">Welcome</span> <span class="strong">Home.</span>

                            </div>
                            <div class="p">Vacation rentals for travelers who want nothing left to chance</div>
                        </div>

                        <h3>
                            <a href="/destinations/greece/santorini/imerovigli/villa-gaia-112952">Villa Gaia</a>
                        </h3>
                        <span>
                            <a href="/destinations/greece/santorini/imerovigli/villa-gaia-112952">Santorini, Greece</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="rsContent">

                <img class="rsImg" src="https://resources.luxuryretreats.com/images/home_pool_slim.jpg" />

                <div class="hmBannerTextWrapper">
                    <div class="rsCapTextBlock">

                        <div class="hmBannerTitle">

                            <div class="titleFont uppercase">
                              Sharing a pool<br/>
                                <span class="strong">is overrated</span>.
                            </div>

                        </div>

                        <h3>
                            <a href="/destinations/north-america/caribbean/st--martin/terres-basses---baie-rouge/loasis-105469">L'Oasis</a>
                        </h3>
                        <span>
                            <a href="/destinations/north-america/caribbean/st--martin/terres-basses---baie-rouge/loasis-105469">Terres Basses - Baie Rouge, St- Martin</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="rsContent">

                <img class="rsImg" src="https://resources.luxuryretreats.com/images/home_kitchens_slim.jpg" />

                <div class="hmBannerTextWrapper">
                    <div class="rsCapTextBlock">

                        <div class="hmBannerTitle">
                            <div class="titleFont uppercase">
                                Our kitchens
                                <br />
                                <span class="strong">never close.</span>

                            </div>

                        </div>

                        <h3>
                            <a href="/destinations/north-america/caribbean/st--martin/terres-basses---baie-rouge/loasis-105469">Spinaltermine</a>
                        </h3>
                        <span>
                            <a href="/destinations/north-america/caribbean/st--martin/terres-basses---baie-rouge/loasis-105469">Umbria, Italy</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="rsContent">

                <img class="rsImg" src="https://resources.luxuryretreats.com/images/home_your_way_slim.jpg" />

                <div class="hmBannerTextWrapper">
                    <div class="rsCapTextBlock">

                        <div class="hmBannerTitle">
                            <div class="titleFont uppercase">
                                Enjoy your vacation
                                <br />
                                <span class="strong">your way.</span>

                            </div>

                        </div>

                        <h3>
                            <a href="/destinations/north-america/central-america/costa-rica/guanacaste/casa-and-villa-at-finca-nosara-113399">Casa and Villa at Finca Nosara</a>
                        </h3>
                        <span>
                            <a href="/destinations/north-america/central-america/costa-rica/guanacaste/casa-and-villa-at-finca-nosara-113399">Guanacaste, Costa Rica</a>
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="rsArrowContainerWrapper">
        <div id="rsArrowContainer" class="rsArrowContainer">

            <div id="toggleAutoPlayBtn" class="toggleAutoPlayBtn"></div>
        </div>

    </div>
    <div class="content">
        <div class="section threeThings">
            <div class="title titleFont uppercase">3 Things <span class="extraBold">you should know</span> about us </div>
            <div class="imgThreeWrapper">
                <img src="https://resources.luxuryretreats.com/images/home_3things.jpg" width="798" height="165" />
            </div>
            <div class="blockWrapper">
                <div class="block">
                    <div class="sectionTitle titleFont uppercase">Quality. Assured.</div>
                    <div class="text">
                        Our team hand picks every luxury vacation<br />
                        rental. Yes, that means we don’t offer<br />
                        100,000 but that the ones we do are<br />
                        personally inspected by our staff.
                    </div>
                </div>

                <div class="block">
                    <div class="sectionTitle titleFont uppercase">The perfect match</div>
                    <div class="text">
                        We’re proud to say we know our villas inside<br />
                        out, and we’ll go the extra mile to make sure<br />
                        you get the right vacation home<br />
                        in the right location.
                    </div>
                </div>
                <div class="block">
                    <div class="sectionTitle titleFont uppercase">At your service 24/7</div>
                    <div class="text">
                        From arranging a private chef to pre-stocking<br />
                        your villa with provisions, our concierge<br />
                        team cares about the little things<br />
                        so you don’t have to.
                    </div>
                </div>
            </div>
        </div>
        <div class="section concierge">
            <img src="https://resources.luxuryretreats.com/images/home_concierge.jpg" width="1080" height="610" />
            <div class="titleFont title">Every Guest is appointed a Personal Concierge</div>
            <div class="text">
                From the day you reserve to the day you return home. Think of it as<br />
                your complimentary personal assistant for travel planning.
            </div>

        </div>


        <div id="iPadImage" class="section">
            <img class="rsImg" src="https://resources.luxuryretreats.com/images/home_ipad_static.jpg" width="1080" height="460" />

            <div class="capTextBlock">

                <div class="titleFont uppercase">
                    It's Here.
                </div>
                <div class="p">
                    Our free iPad app is here,
                                <br />
                    find it on the app store.
                </div>
                <a class="link titleFont" href="https://itunes.apple.com/ca/app/luxury-retreats/id855259308?mt=8&ign-mpt=uo%3D4" target="_blank">More Information ></a>
            </div>

        </div>


        <div class="section contactBlock">

            <div class="formSideText">
                <div class="titleFont uppercase">Not sure where to start?</div>
                <div class="seperator"></div>
                <div class="subTitle">We love a challenge!</div>
                <div class="text">
                    Our Villa Specialists have traveled the world<br />
                    to find the right vacation home for you –
                    <br />
                    so let’s start planning your next trip.
                </div>
            </div>
            <div class="formArea">
                <form id="fmInformationRequestHm" name="fmInformationRequestHm">
                    <div class="homeFormRow">
                        <div class="homeFormCol">
                            <label id="lblInfoFirstNameHm" for="tbInfoFirstNameHm" class="labelHmInquiry">Your Name<span class="asterisk">*</span></label>
                            <input type="text" id="tbInfoFirstNameHm" name="tbInfoFirstNameHm" class="inputHmInquiry rounded" maxlength="50"/>
                        </div>
                        <div class="homeFormCol">
                            <label id="lblInfoLastNameHm" for="tbInfoLastNameHm" class="labelHmInquiry"></label>
                            <input type="text" id="tbInfoLastNameHm" name="tbInfoLastNameHm" class="inputHmInquiry rounded" maxlength="50"/>
                        </div>
                    </div>
                    <div class="homeFormRow">
                        <div class="homeFormCol">
                            <label id="lblInfoEmailAddressHm" for="tbInfoEmailAddressHm" class="labelHmInquiry">Contact Info<span class="asterisk">*</span></label>
                            <input type="text" id="tbInfoEmailAddressHm" name="tbInfoEmailAddressHm" class="inputHmInquiry rounded" maxlength="50" />
                        </div>
                        <div class="homeFormCol">
                            <label id="lblInfoPhoneNumberHm" for="tbInfoPhoneNumberHm" class="labelHmInquiry"></label>
                            <input type="text" id="tbInfoPhoneNumberHm" name="tbInfoPhoneNumberHm" class="inputHmInquiry rounded" maxlength="50"/>
                        </div>
                    </div>
                    <div class="homeFormRow hidden">
                        <div class="homeFormCol">
                            <label id="lblInfoCountryHm" for="cbInfoCountryHm" class="labelHmInquiry">Country</label>
                            <div id="selectInfoCountryHm" class="styled-select">

                            </div>
                        </div>
                    </div>
                    <div class="homeFormRow">
                        <div class="homeFormCol">
                            <label id="lblInfoCheckInDateHm" for="dpInfoCheckInDateHm" class="labelHmInquiry">Tentative Travel Dates</label>
                            <input type="text" id="dpInfoCheckInDateHm" name="dpInfoCheckInDateHm" class="inputHmInquiry rounded" value="Check-In (MM/DD/YYY)" />
                        </div>
                        <div class="homeFormCol">
                            <label id="lblInfoCheckOutDateHm" for="dpInfoCheckOutDateHm" class="labelHmInquiry"></label>
                            <input type="text" id="dpInfoCheckOutDateHm" name="dpInfoCheckOutDateHm" class="inputHmInquiry rounded" value="Check-Out (MM/DD/YYY)" />
                        </div>
                        <div class="hidden">
                            <input type="checkbox" name="flexTravelDatesHm" id="flexTravelDatesHm" value="value">
                            <label id="lblflexTravelDatesHm" class="lightGray" for="flexTravelDatesHm">My travel dates are flexible</label>
                        </div>
                    </div>
                    <div class="homeFormRow">
                        <label id="lblInfoAdditionalCommentsHm" for="tbInfoAdditionalCommentsHm" class="labelHmInquiry rounded">Anything else?</label>
                        <textarea id="tbInfoAdditionalCommentsHm" name="tbInfoAdditionalCommentsHm" class="tbAdditionalCommentsHm rounded"  onchange="taLength(this)" onkeyup="taLength(this)"
                                  onpaste="taLength(this)" maxlength="1000"></textarea>
                    </div>

                    <a href="#" id="submitInfoHm" class="submitInfoHm titleFont">
                        <div id="divInfoSubmitHm" class="divInfoSubmitHm rounded">
                            SUBMIT
                        </div>

                    </a>
                </form>
                <div id="thankYouWrapperHm" class="hidden">
                    <div class="titleFont">Thank You!</div>
                    <p class="thankYouHm">
                        A Villa Specialist will contact you shortly.
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div id="scrollTop" class="scrollTop">
        <div class="scrollTopImg"></div>
    </div>
  </section>

<%= render 'layouts/header' %>

<%= render 'layouts/footer' %>



    <div id="wishListdialog-modal">
        <a href="javascript:;" id="btnDialogClose" class="btnDialogClose"><span class="iClose"></span></a>


<input id="villaInqRegion2" value="" type="hidden" />
<input id="villaInqRegion3" value="" type="hidden" />
<input id="villaInqRegion4" value="" type="hidden" />
<input id="villaInqSessionId" value="" type="hidden" />
<div id="RequestFormContainer" class="modalFormContainer">
    <div id="EnquireFormWrapper" class="clear-fix">
        <div class="villaFormPictureLayer">
            <div class="villaFormImageWrapper">
                <img id="enquiryVillaPhotoUrl" class="villaFormPhotoUrl" src="" />
            </div>
            <div id="enquiryDescriptionLayer" class="villaFormDescriptionLayer">
                <h2>PALMASOLA</h2>
                Signature Estates, Punta Mita, Mexico
            </div>
        </div>
        <div id="VillaInformationLayer" class="villaFormInformationLayer">
            <input type="hidden" id="enquiryVillaId" />
            <span class="tltForm">Let’s Get Started!</span>
            <p class="formInstructions">Fill in your details to connect with a Villa Specialist and start planning your perfect trip. </p>



<input type="hidden" id="AspNetSessionId" value="s5jxvzhiitsfxs3ii42psnxi"/>

<form id="fmInformationRequestInq" name="fmInformationRequestInq" class="formWrapper">

    <div class="villaFormRowInline">
        <label id="lblInfoFirstNameInq" for="tbInfoFirstNameInq" class="labelLargeInline">First Name*</label>
        <input type="text" id="tbInfoFirstNameInq" name="tbInfoFirstNameInq" class="inputLarge" maxlength="50"/>
    </div>
    <div class="villaFormRowInline">
        <label id="lblInfoLastNameInq" for="tbInfoLastNameInq" class="labelLargeInline">Last Name</label>
        <input type="text" id="tbInfoLastNameInq" name="tbInfoLastNameInq" class="inputLarge" maxlength="50"/>
    </div>
    <div class="villaFormRowInline">
        <label id="lblInfoEmailAddressInq" for="tbInfoEmailAddressInq" class="labelLargeInline">Email Address*</label>
        <input type="text" id="tbInfoEmailAddressInq" name="tbInfoEmailAddressInq" class="inputLarge" maxlength="50" />
    </div>
    <div class="villaFormRowInline">
        <label id="lblInfoCountryInq" for="cbInfoCountryInq" class="labelLargeInline">Your Country</label>
        <div id="selectInfoCountryInq" class="styled-select selectInline">
<select id="cbInfoCountryInq" name="cbInfoCountryInq" class="inputSmall rightSideInput">
  <option value="">COUNTRY TELEPHONE CODE</option>
  <option value="1" selected="selected">United States (+1)</option>
  <option value="1">Canada (+1)</option>
  <option value="44">United Kingdom (+44)</option>
  <option value="49">Germany (+49)</option>
  <option value="33">France (+33)</option>
  <option value="93">Afghanistan (+93)</option>
  <option value="355">Albania (+355)</option>
  <option value="213">Algeria (+213)</option>
  <option value="684">American Samoa (+684)</option>
  <option value="376">Andorra (+376)</option>
  <option value="244">Angola (+244)</option>
  <option value="1">Anguilla (+1)</option>
  <option value="1">Antigua (+1)</option>
  <option value="54">Argentina (+54)</option>
  <option value="374">Armenia (+374)</option>
  <option value="297">Aruba (+297)</option>
  <option value="247">Ascension Island (+247)</option>
  <option value="61">Australia (+61)</option>
  <option value="672">Australian External Terr. (+672)</option>
  <option value="430">Austria (+430)</option>
  <option value="994">Azerbaijan (+994)</option>
  <option value="284">British Virgin Island (+284)</option>
  <option value="1">Bahamas (+1)</option>
  <option value="973">Bahrain (+973)</option>
  <option value="880">Bangladesh (+880)</option>
  <option value="1">Barbados (+1)</option>
  <option value="375">Belarus (+375)</option>
  <option value="32">Belgium (+32)</option>
  <option value="501">Belize (+501)</option>
  <option value="229">Benin (+229)</option>
  <option value="1">Bermuda (+1)</option>
  <option value="975">Bhutan (+975)</option>
  <option value="591">Bolivia (+591)</option>
  <option value="387">Bosnia (+387)</option>
  <option value="267">Botswana (+267)</option>
  <option value="226">Bourkina Fasso (+226)</option>
  <option value="550">Brazil (+550)</option>
  <option value="673">Brunei (+673)</option>
  <option value="359">Bulgaria (+359)</option>
  <option value="257">Burundi (+257)</option>
  <option value="855">Cambodia (+855)</option>
  <option value="237">Cameroon (+237)</option>
  <option value="1">Canada (+1)</option>
  <option value="238">Cape Verde (+238)</option>
  <option value="1">Cayman Islands (+1)</option>
  <option value="236">Central African Rep. (+236)</option>
  <option value="235">Chad Republic (+235)</option>
  <option value="56">Chile (+56)</option>
  <option value="86">China (+86)</option>
  <option value="57">Colombia (+57)</option>
  <option value="269">Comoros (+269)</option>
  <option value="243">Congo Dem. Republic (+243)</option>
  <option value="242">Congo Republic (+242)</option>
  <option value="682">Cook Islands (+682)</option>
  <option value="506">Costa Rica (+506)</option>
  <option value="385">Croatia (+385)</option>
  <option value="53">Cuba (+53)</option>
  <option value="357">Cyprus (+357)</option>
  <option value="420">Czech Republic (+420)</option>
  <option value="45">Denmark (+45)</option>
  <option value="246">Diego Garcia (+246)</option>
  <option value="253">Djibouti (+253)</option>
  <option value="1">Dominica (+1)</option>
  <option value="1">Dominican Republic (+1)</option>
  <option value="593">Ecuador (+593)</option>
  <option value="20">Egypt (+20)</option>
  <option value="503">El Salvador (+503)</option>
  <option value="240">Equatorial Guinea (+240)</option>
  <option value="291">Eritrea (+291)</option>
  <option value="372">Estonia (+372)</option>
  <option value="251">Ethiopia (+251)</option>
  <option value="500">Falkland Islands (+500)</option>
  <option value="298">Faroe Islands (+298)</option>
  <option value="679">Fiji (+679)</option>
  <option value="358">Finland (+358)</option>
  <option value="596">French Antilles (+596)</option>
  <option value="594">French Guiana (+594)</option>
  <option value="689">French Polynesia (+689)</option>
  <option value="241">Gabon (+241)</option>
  <option value="220">Gambia (+220)</option>
  <option value="995">Georgia (+995)</option>
  <option value="233">Ghana (+233)</option>
  <option value="350">Gibraltar (+350)</option>
  <option value="30">Greece (+30)</option>
  <option value="299">Greenland (+299)</option>
  <option value="473">Grenada (+473)</option>
  <option value="590">Guadeloupe (+590)</option>
  <option value="53">Guantanamo (+53)</option>
  <option value="502">Guatemala (+502)</option>
  <option value="224">Guinea (+224)</option>
  <option value="245">Guinea-Bissau (+245)</option>
  <option value="592">Guyana (+592)</option>
  <option value="509">Haiti (+509)</option>
  <option value="504">Honduras (+504)</option>
  <option value="852">Hong Kong (+852)</option>
  <option value="36">Hungary (+36)</option>
  <option value="354">Iceland (+354)</option>
  <option value="91">India (+91)</option>
  <option value="62">Indonesia (+62)</option>
  <option value="98">Iran (+98)</option>
  <option value="964">Iraq (+964)</option>
  <option value="353">Ireland (+353)</option>
  <option value="972">Israel (+972)</option>
  <option value="39">Italy (+39)</option>
  <option value="225">Ivory Coast (+225)</option>
  <option value="1">Jamaica (+1)</option>
  <option value="81">Japan (+81)</option>
  <option value="962">Jordan (+962)</option>
  <option value="7">Kazakhstan (+7)</option>
  <option value="254">Kenya (+254)</option>
  <option value="686">Kiribati (+686)</option>
  <option value="850">Korea (North) (+850)</option>
  <option value="82">Korea (South) (+82)</option>
  <option value="965">Kuwait (+965)</option>
  <option value="7">Kyrghyzstan (+7)</option>
  <option value="856">Laos (+856)</option>
  <option value="371">Latvia (+371)</option>
  <option value="961">Lebanon (+961)</option>
  <option value="266">Lesotho (+266)</option>
  <option value="231">Liberia (+231)</option>
  <option value="218">Libya (+218)</option>
  <option value="370">Lithuania (+370)</option>
  <option value="352">Luxembourg (+352)</option>
  <option value="853">Macao (+853)</option>
  <option value="389">Macedonia (+389)</option>
  <option value="261">Madagascar (+261)</option>
  <option value="265">Malawi (+265)</option>
  <option value="60">Malaysia (+60)</option>
  <option value="960">Maldives Rep. (+960)</option>
  <option value="223">Mali Rep. (+223)</option>
  <option value="356">Malta Rep. (+356)</option>
  <option value="692">Marshall Islands (+692)</option>
  <option value="222">Mauritania (+222)</option>
  <option value="230">Mauritius (+230)</option>
  <option value="269">Mayotte (+269)</option>
  <option value="52">Mexico (+52)</option>
  <option value="691">Micronesia (+691)</option>
  <option value="373">Moldova (+373)</option>
  <option value="377">Monaco (+377)</option>
  <option value="976">Mongolia (+976)</option>
  <option value="1">Montserrat (+1)</option>
  <option value="212">Morocco (+212)</option>
  <option value="258">Mozambique (+258)</option>
  <option value="95">Myanmar (+95)</option>
  <option value="264">Namibia (+264)</option>
  <option value="674">Nauru (+674)</option>
  <option value="97">Nepal (+977)</option>
  <option value="31">Netherlands (+31)</option>
  <option value="599">Netherlands Antilles (+599)</option>
  <option value="687">New Caledonia (+687)</option>
  <option value="64">New Zealand (+64)</option>
  <option value="505">Nicaragua (+505)</option>
  <option value="227">Niger Rep. (+227)</option>
  <option value="234">Nigeria (+234)</option>
  <option value="683">Niue (+683)</option>
  <option value="470">Norway (+470)</option>
  <option value="871">Ocean Atlantic East (+871)</option>
  <option value="874">Ocean Atlantic West (+874)</option>
  <option value="873">Ocean Indian (+873)</option>
  <option value="872">Ocean Pacific (+872)</option>
  <option value="968">Oman (+968)</option>
  <option value="92">Pakistan (+92)</option>
  <option value="680">Palau (+680)</option>
  <option value="507">Panama (+507)</option>
  <option value="675">Papua New Guinea (+675)</option>
  <option value="595">Paraguay (+595)</option>
  <option value="51">Peru (+51)</option>
  <option value="63">Philippines (+63)</option>
  <option value="480">Poland (+480)</option>
  <option value="351">Portugal (+351)</option>
  <option value="974">Qatar (+974)</option>
  <option value="262">Reunion Islands (+262)</option>
  <option value="40">Romania (+40)</option>
  <option value="7">Russian Fed. (+7)</option>
  <option value="250">Rwanda (+250)</option>
  <option value="670">Saipan (+670)</option>
  <option value="378">San Marino (+378)</option>
  <option value="239">Sao Tome (+239)</option>
  <option value="966">Saudi Arabia (+966)</option>
  <option value="221">Senegal (+221)</option>
  <option value="248">Seychelles (+248)</option>
  <option value="232">Sierra Leone (+232)</option>
  <option value="65">Singapore (+65)</option>
  <option value="421">Slovakia (+421)</option>
  <option value="386">Slovenia (+386)</option>
  <option value="677">Solomon Islands (+677)</option>
  <option value="252">Somalia (+252)</option>
  <option value="27">South Africa (+27)</option>
  <option value="34">Spain (+34)</option>
  <option value="94">Sri Lanka (+94)</option>
  <option value="290">St. Helena (+290)</option>
  <option value="1">St. Kitts And Nevis (+1)</option>
  <option value="1">St. Lucia (+1)</option>
  <option value="508">St. Pierre (+508)</option>
  <option value="1">St. Vincent And The Grenadines (+1)</option>
  <option value="249">Sudan (+249)</option>
  <option value="597">Suriname (+597)</option>
  <option value="268">Swaziland (+268)</option>
  <option value="46">Sweden (+46)</option>
  <option value="41">Switzerland (+41)</option>
  <option value="963">Syrian Arabrep (+963)</option>
  <option value="886">Taiwan (+886)</option>
  <option value="7">Tajikistan (+7)</option>
  <option value="255">Tanzania (+255)</option>
  <option value="66">Thailand (+66)</option>
  <option value="228">Togo (+228)</option>
  <option value="690">Tokelau (+690)</option>
  <option value="676">Tonga (+676)</option>
  <option value="1">Trinidad (+1)</option>
  <option value="216">Tunisia (+216)</option>
  <option value="900">Turkey (+900)</option>
  <option value="933">Turkmenistan (+933)</option>
  <option value="649">Turks &amp; Caicos (+649)</option>
  <option value="688">Tuvalu (+688)</option>
  <option value="256">Uganda (+256)</option>
  <option value="380">Ukraine (+380)</option>
  <option value="971">United Arab Emirates (+971)</option>
  <option value="598">Uruguay (+598)</option>
  <option value="7">Uzbekistan (+7)</option>
  <option value="678">Vanuatu (+678)</option>
  <option value="58">Venezuela (+58)</option>
  <option value="84">Vietnam (+84)</option>
  <option value="681">Wallis And Futuna Islands (+681)</option>
  <option value="685">Western Samoa (+685)</option>
  <option value="967">Yemen (+967)</option>
  <option value="381">Yugoslavia (+381)</option>
  <option value="260">Zambia (+260)</option>
  <option value="263">Zimbabwe (+263)</option>
</select>
        </div>
    </div>
    <div class="villaFormRowInline">
        <label id="lblInfoPhoneNumberInq" for="tbInfoPhoneNumberInq" class="labelLargeInline">Telephone Number</label>
        <input type="text" id="tbInfoPhoneNumberInq" name="tbInfoPhoneNumberInq" class="inputLarge" maxlength="20"/>
        <input type="hidden" id="phonePlaceholderTextInq" value="Country code + Phone #"/>
    </div>
    <div class="villaFormRowInline">
        <label id="lblInfoCheckInDateInq" for="dpInfoCheckInDateInq" class="labelLargeInline">Tentative Travel Dates</label>
        <input type="text" id="dpInfoCheckInDateInq" name="dpInfoCheckInDateInq" class="inputLarge" />
    </div>
    <div class="villaFormRowInline">
        <span class="labelLargeInline"></span>
        <input type="text" id="dpInfoCheckOutDateInq" name="dpInfoCheckOutDateInq" class="inputLarge" />
    </div>

    <div class="villaTextAreaInline">
        <label id="lblInfoAdditionalCommentsInq" for="tbInfoAdditionalCommentsInq" class="labelLargeInline">Additional Comments</label>
        <div style="display: inline-block;">
            <textarea id="tbInfoAdditionalCommentsInq" name="tbInfoAdditionalCommentsInq" class="inputLarge" style="height:50px;" onchange="taLength(this)" onkeyup="taLength(this)"
                  onpaste="taLength(this)" maxlength="1000"></textarea>
        </div>
    </div>

    <div id="divInfoSubmit" class="villaFormFooter">
        <div class="villaFormQuality">
            Personally Inspected.<br>
            Quality Assured.<br>
            24/7 Guest Support.
        </div>
        <input type="button" id="submitInfoInq" name="submitInfoInq" value="SEND INQUIRY" class="orangeCta requestFormSubmit" />
    </div>

</form>

        </div>

    </div>
</div>



<div id="MarketingRequestFormContainer" class="modalFormContainer">
    <div id="mkFormWrapper">

        <span class="tltForm">Let's Get Started!</span>
        <p class="formInstructions">
            Fill in your details to connect with a Villa Specialist and start planning your perfect trip.
        </p>



<input type="hidden" id="AspNetSessionId" value="s5jxvzhiitsfxs3ii42psnxi"/>

<form id="fmInformationRequestMk" name="fmInformationRequestMk" class="formWrapper">

    <div class="villaFormRowInline">
        <label id="lblInfoFirstNameMk" for="tbInfoFirstNameMk" class="labelLargeInline">First Name*</label>
        <input type="text" id="tbInfoFirstNameMk" name="tbInfoFirstNameMk" class="inputLarge" maxlength="50"/>
    </div>
    <div class="villaFormRowInline">
        <label id="lblInfoLastNameMk" for="tbInfoLastNameMk" class="labelLargeInline">Last Name</label>
        <input type="text" id="tbInfoLastNameMk" name="tbInfoLastNameMk" class="inputLarge" maxlength="50"/>
    </div>
    <div class="villaFormRowInline">
        <label id="lblInfoEmailAddressMk" for="tbInfoEmailAddressMk" class="labelLargeInline">Email Address*</label>
        <input type="text" id="tbInfoEmailAddressMk" name="tbInfoEmailAddressMk" class="inputLarge" maxlength="50" />
    </div>
    <div class="villaFormRowInline">
        <label id="lblInfoCountryMk" for="cbInfoCountryMk" class="labelLargeInline">Your Country</label>
        <div id="selectInfoCountryMk" class="styled-select selectInline">
<select id="cbInfoCountryMk" name="cbInfoCountryMk" class="inputSmall rightSideInput">
  <option value="">COUNTRY TELEPHONE CODE</option>
  <option value="1" selected="selected">United States (+1)</option>
  <option value="1">Canada (+1)</option>
  <option value="44">United Kingdom (+44)</option>
  <option value="49">Germany (+49)</option>
  <option value="33">France (+33)</option>
  <option value="93">Afghanistan (+93)</option>
  <option value="355">Albania (+355)</option>
  <option value="213">Algeria (+213)</option>
  <option value="684">American Samoa (+684)</option>
  <option value="376">Andorra (+376)</option>
  <option value="244">Angola (+244)</option>
  <option value="1">Anguilla (+1)</option>
  <option value="1">Antigua (+1)</option>
  <option value="54">Argentina (+54)</option>
  <option value="374">Armenia (+374)</option>
  <option value="297">Aruba (+297)</option>
  <option value="247">Ascension Island (+247)</option>
  <option value="61">Australia (+61)</option>
  <option value="672">Australian External Terr. (+672)</option>
  <option value="430">Austria (+430)</option>
  <option value="994">Azerbaijan (+994)</option>
  <option value="284">British Virgin Island (+284)</option>
  <option value="1">Bahamas (+1)</option>
  <option value="973">Bahrain (+973)</option>
  <option value="880">Bangladesh (+880)</option>
  <option value="1">Barbados (+1)</option>
  <option value="375">Belarus (+375)</option>
  <option value="32">Belgium (+32)</option>
  <option value="501">Belize (+501)</option>
  <option value="229">Benin (+229)</option>
  <option value="1">Bermuda (+1)</option>
  <option value="975">Bhutan (+975)</option>
  <option value="591">Bolivia (+591)</option>
  <option value="387">Bosnia (+387)</option>
  <option value="267">Botswana (+267)</option>
  <option value="226">Bourkina Fasso (+226)</option>
  <option value="550">Brazil (+550)</option>
  <option value="673">Brunei (+673)</option>
  <option value="359">Bulgaria (+359)</option>
  <option value="257">Burundi (+257)</option>
  <option value="855">Cambodia (+855)</option>
  <option value="237">Cameroon (+237)</option>
  <option value="1">Canada (+1)</option>
  <option value="238">Cape Verde (+238)</option>
  <option value="1">Cayman Islands (+1)</option>
  <option value="236">Central African Rep. (+236)</option>
  <option value="235">Chad Republic (+235)</option>
  <option value="56">Chile (+56)</option>
  <option value="86">China (+86)</option>
  <option value="57">Colombia (+57)</option>
  <option value="269">Comoros (+269)</option>
  <option value="243">Congo Dem. Republic (+243)</option>
  <option value="242">Congo Republic (+242)</option>
  <option value="682">Cook Islands (+682)</option>
  <option value="506">Costa Rica (+506)</option>
  <option value="385">Croatia (+385)</option>
  <option value="53">Cuba (+53)</option>
  <option value="357">Cyprus (+357)</option>
  <option value="420">Czech Republic (+420)</option>
  <option value="45">Denmark (+45)</option>
  <option value="246">Diego Garcia (+246)</option>
  <option value="253">Djibouti (+253)</option>
  <option value="1">Dominica (+1)</option>
  <option value="1">Dominican Republic (+1)</option>
  <option value="593">Ecuador (+593)</option>
  <option value="20">Egypt (+20)</option>
  <option value="503">El Salvador (+503)</option>
  <option value="240">Equatorial Guinea (+240)</option>
  <option value="291">Eritrea (+291)</option>
  <option value="372">Estonia (+372)</option>
  <option value="251">Ethiopia (+251)</option>
  <option value="500">Falkland Islands (+500)</option>
  <option value="298">Faroe Islands (+298)</option>
  <option value="679">Fiji (+679)</option>
  <option value="358">Finland (+358)</option>
  <option value="596">French Antilles (+596)</option>
  <option value="594">French Guiana (+594)</option>
  <option value="689">French Polynesia (+689)</option>
  <option value="241">Gabon (+241)</option>
  <option value="220">Gambia (+220)</option>
  <option value="995">Georgia (+995)</option>
  <option value="233">Ghana (+233)</option>
  <option value="350">Gibraltar (+350)</option>
  <option value="30">Greece (+30)</option>
  <option value="299">Greenland (+299)</option>
  <option value="473">Grenada (+473)</option>
  <option value="590">Guadeloupe (+590)</option>
  <option value="53">Guantanamo (+53)</option>
  <option value="502">Guatemala (+502)</option>
  <option value="224">Guinea (+224)</option>
  <option value="245">Guinea-Bissau (+245)</option>
  <option value="592">Guyana (+592)</option>
  <option value="509">Haiti (+509)</option>
  <option value="504">Honduras (+504)</option>
  <option value="852">Hong Kong (+852)</option>
  <option value="36">Hungary (+36)</option>
  <option value="354">Iceland (+354)</option>
  <option value="91">India (+91)</option>
  <option value="62">Indonesia (+62)</option>
  <option value="98">Iran (+98)</option>
  <option value="964">Iraq (+964)</option>
  <option value="353">Ireland (+353)</option>
  <option value="972">Israel (+972)</option>
  <option value="39">Italy (+39)</option>
  <option value="225">Ivory Coast (+225)</option>
  <option value="1">Jamaica (+1)</option>
  <option value="81">Japan (+81)</option>
  <option value="962">Jordan (+962)</option>
  <option value="7">Kazakhstan (+7)</option>
  <option value="254">Kenya (+254)</option>
  <option value="686">Kiribati (+686)</option>
  <option value="850">Korea (North) (+850)</option>
  <option value="82">Korea (South) (+82)</option>
  <option value="965">Kuwait (+965)</option>
  <option value="7">Kyrghyzstan (+7)</option>
  <option value="856">Laos (+856)</option>
  <option value="371">Latvia (+371)</option>
  <option value="961">Lebanon (+961)</option>
  <option value="266">Lesotho (+266)</option>
  <option value="231">Liberia (+231)</option>
  <option value="218">Libya (+218)</option>
  <option value="370">Lithuania (+370)</option>
  <option value="352">Luxembourg (+352)</option>
  <option value="853">Macao (+853)</option>
  <option value="389">Macedonia (+389)</option>
  <option value="261">Madagascar (+261)</option>
  <option value="265">Malawi (+265)</option>
  <option value="60">Malaysia (+60)</option>
  <option value="960">Maldives Rep. (+960)</option>
  <option value="223">Mali Rep. (+223)</option>
  <option value="356">Malta Rep. (+356)</option>
  <option value="692">Marshall Islands (+692)</option>
  <option value="222">Mauritania (+222)</option>
  <option value="230">Mauritius (+230)</option>
  <option value="269">Mayotte (+269)</option>
  <option value="52">Mexico (+52)</option>
  <option value="691">Micronesia (+691)</option>
  <option value="373">Moldova (+373)</option>
  <option value="377">Monaco (+377)</option>
  <option value="976">Mongolia (+976)</option>
  <option value="1">Montserrat (+1)</option>
  <option value="212">Morocco (+212)</option>
  <option value="258">Mozambique (+258)</option>
  <option value="95">Myanmar (+95)</option>
  <option value="264">Namibia (+264)</option>
  <option value="674">Nauru (+674)</option>
  <option value="97">Nepal (+977)</option>
  <option value="31">Netherlands (+31)</option>
  <option value="599">Netherlands Antilles (+599)</option>
  <option value="687">New Caledonia (+687)</option>
  <option value="64">New Zealand (+64)</option>
  <option value="505">Nicaragua (+505)</option>
  <option value="227">Niger Rep. (+227)</option>
  <option value="234">Nigeria (+234)</option>
  <option value="683">Niue (+683)</option>
  <option value="470">Norway (+470)</option>
  <option value="871">Ocean Atlantic East (+871)</option>
  <option value="874">Ocean Atlantic West (+874)</option>
  <option value="873">Ocean Indian (+873)</option>
  <option value="872">Ocean Pacific (+872)</option>
  <option value="968">Oman (+968)</option>
  <option value="92">Pakistan (+92)</option>
  <option value="680">Palau (+680)</option>
  <option value="507">Panama (+507)</option>
  <option value="675">Papua New Guinea (+675)</option>
  <option value="595">Paraguay (+595)</option>
  <option value="51">Peru (+51)</option>
  <option value="63">Philippines (+63)</option>
  <option value="480">Poland (+480)</option>
  <option value="351">Portugal (+351)</option>
  <option value="974">Qatar (+974)</option>
  <option value="262">Reunion Islands (+262)</option>
  <option value="40">Romania (+40)</option>
  <option value="7">Russian Fed. (+7)</option>
  <option value="250">Rwanda (+250)</option>
  <option value="670">Saipan (+670)</option>
  <option value="378">San Marino (+378)</option>
  <option value="239">Sao Tome (+239)</option>
  <option value="966">Saudi Arabia (+966)</option>
  <option value="221">Senegal (+221)</option>
  <option value="248">Seychelles (+248)</option>
  <option value="232">Sierra Leone (+232)</option>
  <option value="65">Singapore (+65)</option>
  <option value="421">Slovakia (+421)</option>
  <option value="386">Slovenia (+386)</option>
  <option value="677">Solomon Islands (+677)</option>
  <option value="252">Somalia (+252)</option>
  <option value="27">South Africa (+27)</option>
  <option value="34">Spain (+34)</option>
  <option value="94">Sri Lanka (+94)</option>
  <option value="290">St. Helena (+290)</option>
  <option value="1">St. Kitts And Nevis (+1)</option>
  <option value="1">St. Lucia (+1)</option>
  <option value="508">St. Pierre (+508)</option>
  <option value="1">St. Vincent And The Grenadines (+1)</option>
  <option value="249">Sudan (+249)</option>
  <option value="597">Suriname (+597)</option>
  <option value="268">Swaziland (+268)</option>
  <option value="46">Sweden (+46)</option>
  <option value="41">Switzerland (+41)</option>
  <option value="963">Syrian Arabrep (+963)</option>
  <option value="886">Taiwan (+886)</option>
  <option value="7">Tajikistan (+7)</option>
  <option value="255">Tanzania (+255)</option>
  <option value="66">Thailand (+66)</option>
  <option value="228">Togo (+228)</option>
  <option value="690">Tokelau (+690)</option>
  <option value="676">Tonga (+676)</option>
  <option value="1">Trinidad (+1)</option>
  <option value="216">Tunisia (+216)</option>
  <option value="900">Turkey (+900)</option>
  <option value="933">Turkmenistan (+933)</option>
  <option value="649">Turks &amp; Caicos (+649)</option>
  <option value="688">Tuvalu (+688)</option>
  <option value="256">Uganda (+256)</option>
  <option value="380">Ukraine (+380)</option>
  <option value="971">United Arab Emirates (+971)</option>
  <option value="598">Uruguay (+598)</option>
  <option value="7">Uzbekistan (+7)</option>
  <option value="678">Vanuatu (+678)</option>
  <option value="58">Venezuela (+58)</option>
  <option value="84">Vietnam (+84)</option>
  <option value="681">Wallis And Futuna Islands (+681)</option>
  <option value="685">Western Samoa (+685)</option>
  <option value="967">Yemen (+967)</option>
  <option value="381">Yugoslavia (+381)</option>
  <option value="260">Zambia (+260)</option>
  <option value="263">Zimbabwe (+263)</option>
</select>
        </div>
    </div>
    <div class="villaFormRowInline">
        <label id="lblInfoPhoneNumberMk" for="tbInfoPhoneNumberMk" class="labelLargeInline">Telephone Number</label>
        <input type="text" id="tbInfoPhoneNumberMk" name="tbInfoPhoneNumberMk" class="inputLarge" maxlength="20"/>
        <input type="hidden" id="phonePlaceholderTextMk" value="Country code + Phone #"/>
    </div>
    <div class="villaFormRowInline">
        <label id="lblInfoCheckInDateMk" for="dpInfoCheckInDateMk" class="labelLargeInline">Tentative Travel Dates</label>
        <input type="text" id="dpInfoCheckInDateMk" name="dpInfoCheckInDateMk" class="inputLarge" />
    </div>
    <div class="villaFormRowInline">
        <span class="labelLargeInline"></span>
        <input type="text" id="dpInfoCheckOutDateMk" name="dpInfoCheckOutDateMk" class="inputLarge" />
    </div>

    <div class="villaTextAreaInline">
        <label id="lblInfoAdditionalCommentsMk" for="tbInfoAdditionalCommentsMk" class="labelLargeInline">Additional Comments</label>
        <div style="display: inline-block;">
            <textarea id="tbInfoAdditionalCommentsMk" name="tbInfoAdditionalCommentsMk" class="inputLarge" style="height:50px;" onchange="taLength(this)" onkeyup="taLength(this)"
                  onpaste="taLength(this)" maxlength="1000"></textarea>
        </div>
    </div>

    <div id="divInfoSubmit" class="villaFormFooter">
        <div class="villaFormQuality">
            Personally Inspected.<br>
            Quality Assured.<br>
            24/7 Guest Support.
        </div>
        <input type="button" id="submitInfoMk" name="submitInfoMk" value="SEND INQUIRY" class="orangeCta requestFormSubmit" />
    </div>

</form>


    </div>

</div>

    </div>

    <div id="emailSubscriptiondialog-modal">
        <a href="javascript:;" id="btnEmailSubscriptiondialogClose" class="btnDialogClose"><span class="iClose"></span></a>
<div id="EmailSubWrapper clear-fix">

    <div class="EmailSubImageLayer">
        <img src="https://resources.luxuryretreats.com/images/email_subscription.jpg" />
    </div>

    <div class="EmailSubInformationLayer">
        <span class="tltForm">Get The Latest On Luxury</span>
        <p class="formInstructions">Sign up for exclusive e-mail updates on our new villa additions&#44; top promotions and vacation ideas.</p>
        <form id="fmEmailSubscription" name="fmEmailSubscription">
            <div>

                <input type="text" id="emailSubFName" name="emailSubFName" class="inputLarge" maxlength="50">
                <input type="text" id="emailSubLName" name="emailSubLName" class="inputLarge" maxlength="50">
                <input type="text" id="emailSubEmail" name="emailSubEmail" class="inputLarge" maxlength="50">
            </div>


            <div class="emailSubFooter">
                <div id="divInfoSubmit">
                    <input type="button" id="emailSubSubmit" name="emailSubSubmit" value="SIGN UP NOW" class="cta">
                </div>
                <div>
                    <ul id="infoErrors"></ul>
                </div>
                <p class="formFooter">
                    <strong>We respect your personal information.</strong><br>
                    <span class="formCallNumber">To read more&#44; view our <a href="/Content/PrivacyTerms/">Privacy and Terms & Conditions</a></span>
                </p>
            </div>
            <div class="emailSub_errorContainer"></div>
            <img id="emailSub_loading" src="https://resources.luxuryretreats.com/images/st_contact_loader.gif" />
        </form>
        <div id="emailSub_successfullySent" style="display: none;">You have successfully signed up.</div>
        <div id="emailSub_notSuccessfull" style="display: none;">An error occurred. Please try submitting again.</div>
    </div>
</div>





    </div>
</body>
