// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


body.active_admin {
  @import "select2";
}

.sortable {
  img:hover {
    cursor: move;
  }
}

#popup_container {
  color: #fff;
  background: #005294;
  border-color: #113F66;
  font-family: Arial, sans-serif;
  font-size: 12px;
  min-width: 300px;
  max-width: 600px;
  background: #FFF;
  border: solid 5px #999;
  color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  #popup_title {
    color: #FFF;
    font-weight: normal;
    text-align: left;
    background: #76A5CC;
    border: solid 1px #005294;
    padding-left: 1em;
  }

  input[type='button'] {
    border: outset 2px #76A5CC;
    color: #fff;
    background: #3778AE;
  }

  #popup_panel {
    text-align: center;
    margin: 1em 0em 0em 1em;
  }

  #popup_content {
    text-align: center;
  }
}

.admin-villa-form-images {
  display: inline-block;
  margin: 15px;
}

#villa_low_month_input, #villa_high_month_input, #villa_peak_month_input {
  display: inline-block;
  width: 30%;

  label { width: 30%; padding-top: 5px; }
  input { width: 60%; }
}

#villa_low_week_input, #villa_low_night_input,
#villa_high_week_input, #villa_high_night_input,
#villa_peak_week_input, #villa_peak_night_input {
  display: inline-block;
  width: 20%;

  label { width: 0px; }
  input { width: 90%; }
}

li.error {
  input {
    border-color: #932419;
    background-color: #f2cbcb;
  }

  p.inline-errors {
    display: none;
  }
}
