.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
  margin-top: -24px !important;
}

li.name {
  h1 {
    width: 400px;
    padding-left: 135px;
    font-family: Arial;
    font-weight: normal;
    font-size: 25px;
  }
}

.area-name {
  margin-bottom: 30px;
  font-size: 170%;
  line-height: 1.2em;
  border-bottom: 1px solid #ccc;
  padding: 0 30px 25px 0;
  text-transform: uppercase;
}

.villas-list {
  p.title-link {
    color: #000;
    font-size: 13px!important;
    line-height: 1.4em;
    display: inline-block;
    padding-left: 5px;
    width: 215px;
    margin-bottom: 10px;

    a {
      color: #000;
      display: inline-block;
      padding: 8px 0px 5px 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  span.price {
    font-size: 18px;
    padding-left: 5px;
  }
}

.villa-show {
  .panel {
    border-style: none;
    margin-bottom: 1.25em;
    padding: 1.25em;
    background: #fff;

    .title {
      font-size: 25px;
      font-family: "Minion Pro";
      font-weight: normal;
    }

    .from {
      font-size: 15px;
      font-family: "Minion Pro";
      text-transform: uppercase;
      margin-bottom: 20px;

      span.price {
        font-size: 50px;
        font-family: "Minion Pro";
        margin-left: 20px;
      }
    }

    .location, .bedrooms {
      font-family: "Minion Pro";
      font-size: 15px;
    }

    .price-range {
      font-size: 15px;
      font-family: "Minion Pro";
      text-transform: uppercase;
      margin-top: 10px;
    }

    .category {
      font-family: "Minion Pro";
      font-size: 12px;
      margin-top: 10px;
    }
  }

  ul#villa-orbit > li > a.preview {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 2px solid white;

    &:before {
      content: '+';
      position: absolute;
      left: 15px;
      top: 0px;
      font-size: 30px;
      color: white;
    }
  }
}

.villa-specs {
  padding: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.section-container.vertical-tabs {
  section .content {
    font-family: "Minion Pro" !important;
    font-size: 18px !important;
    line-height: 1.7 !important;
  }

  p.title {
    padding-right: 40px;
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
    text-transform: uppercase;

    a {
      border-bottom: 1px solid #ccc;
    }

    &:hover a {
      color: black;
    }

  }

  .content {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    padding-top: 10px !important;
  }
}

.shadow {
  -webkit-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}

.villa-row {
  margin-top: 30px;
}


.animate-enter {
  -webkit-transition: 300ms linear all; /* Safari/Chrome */
  -moz-transition: 300ms linear all; /* Firefox */
  -ms-transition: 300ms linear all; /* IE10 */
  -o-transition: 300ms linear all; /* Opera */
  transition: 300ms linear all; /* Future Browsers */

  /* The animation preparation code */
  opacity: 1;
}
.animate-leave
{
  -webkit-transition: 0ms linear all; /* Safari/Chrome */
  -moz-transition: 0ms linear all; /* Firefox */
  -ms-transition: 0ms linear all; /* IE10 */
  -o-transition: 0ms linear all; /* Opera */
  transition: 0ms linear all; /* Future Browsers */

  /* The animation preparation code */
  opacity: 0;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
}

nav.top-bar {
  background: -moz-linear-gradient(top,  rgba(175,178,181,1) 0%, rgba(175,178,181,0.45) 55%, rgba(125,185,232,0) 100%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,178,181,1)), color-stop(55%,rgba(175,178,181,0.45)), color-stop(100%,rgba(125,185,232,0))) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(175,178,181,1) 0%,rgba(175,178,181,0.45) 55%,rgba(125,185,232,0) 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(175,178,181,1) 0%,rgba(175,178,181,0.45) 55%,rgba(125,185,232,0) 100%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(175,178,181,1) 0%,rgba(175,178,181,0.45) 55%,rgba(125,185,232,0) 100%) !important; /* IE10+ */
  background: linear-gradient(to bottom,  rgba(175,178,181,1) 0%,rgba(175,178,181,0.45) 55%,rgba(125,185,232,0) 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afb2b5', endColorstr='#007db9e8',GradientType=0 ) !important; /* IE6-9 */

  .top-bar-section {
    ul {
      background: none !important;

      li a:not(.button) {
        display: inline !important;
        background: none !important;
        color: #666;
      }

      &.dropdown {
        border: 1px solid black;
      }
    }
  }
}

.areas-list {
  li > a {
    color: #777;
    font-size: 14px;

    &:hover {
      color: #ccc;

    }
  }
}

.villa-show .orbit-container {
  height: 300px;
}

.home-slider .orbit-container {
  // height: 100%;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .2;
  z-index: 1000;
  top: 0;
}

.area-group {
  min-height: 560px;
}

#map {
  width: 100%;
  height: 300px;
}

.filter {
  color: #777;
  border-bottom: 1px solid black;
  margin-bottom: 20px;

  > span {
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  > p {
    font-size: 12px;

    input, select {
      margin-top: 10px;

      &.price-from, &.price-to {
        display: inline-block;
        width: 30%;
        margin: 10px;
      }
    }
  }

  #filter-map {
    background-size: 100%;
    background-repeat: no-repeat;

    position: relative;

    &.phuket {
      background-image: image-url('phuket_island.png');
      height: 370px;
    }

    &.samui {
      background-image: image-url('samui.png');
      height: 247px;
    }

    &.bali {
      background-image: image-url('bali.png');
      height: 180px;
    }

    label {
      position: absolute;
      top: 0px;
      left: 0px;
      display: inline-block;
      line-height: 18px;
      font-size: 11px;
      padding: 0 3px 0 0;
      white-space: nowrap;
      text-decoration: none;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
      white-space: nowrap;
      cursor: pointer;
      background: white;
      background-color: rgba(255, 255, 255, 0.75);
      color: #888888;
      font-weight: bold;
      border-radius: 4px;

      input {
        margin: 3px 0.5ex;
      }

      span.tail {
        border-color: white;
        top: 100%;
        left: 50%;
        opacity: 0.75;
        margin-left: -5px;
        content: "";
        position: absolute;
        display: block;
        width: 0px;
        height: 0px;
        border: 10px solid white;
        border-width: 5px 5px 0 5px;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        border-left-color: transparent !important;
      }
    }
  }
}


span.month, span.week, span.night {
  font-size: 14px;
  margin-left: 20px;
  display: inline-block;
  width: 22%;
}

span.season-title {
  display: inline-block;
  min-width: 110px;

}

#body-wrapper {
  margin-bottom: 50px;

  .panel.ads {
    border: 7px solid #ccc;
    background-color: #fff;

    &:hover {
      opacity: 0.7;
    }
  }
}

footer {
  background: -moz-linear-gradient(bottom,  rgba(175,178,181,1) 0%, rgba(175,178,181,0.45) 55%, rgba(125,185,232,0) 100%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(175,178,181,1)), color-stop(55%,rgba(175,178,181,0.45)), color-stop(100%,rgba(125,185,232,0))) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom,  rgba(175,178,181,1) 0%,rgba(175,178,181,0.45) 55%,rgba(125,185,232,0) 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom,  rgba(175,178,181,1) 0%,rgba(175,178,181,0.45) 55%,rgba(125,185,232,0) 100%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom,  rgba(175,178,181,1) 0%,rgba(175,178,181,0.45) 55%,rgba(125,185,232,0) 100%) !important; /* IE10+ */
  background: linear-gradient(to top,  rgba(175,178,181,1) 0%,rgba(175,178,181,0.45) 55%,rgba(125,185,232,0) 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#afb2b5',GradientType=0 ) !important; /* IE6-9 */

  .row {
    padding: 30px;
  }

  .side-nav li a {
    display: inline-block;
    color: #777;
  }
}
