.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
  margin-top: -24px !important;
}

.area-name {
  margin-bottom: 30px;
  font-size: 170%;
  line-height: 1.2em;
  border-bottom: 1px solid #ccc;
  padding: 0 30px 25px 0;
  text-transform: uppercase;
}

.villas-list {
  p.title-link {
    color: #000;
    font-size: 13px!important;
    line-height: 1.4em;
    display: inline-block;
    padding-left: 5px;
    width: 215px;
    margin-bottom: 10px;

    a {
      color: #000;
      display: inline-block;
      padding: 8px 0px 5px 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  span.price {
    font-size: 18px;
    padding-left: 5px;
  }
}

.villa-show {
  .panel {
    border-style: none;
    margin-bottom: 1.25em;
    padding: 1.25em;
    background: #fff;

    .title {
      font-size: 25px;
      font-family: "Minion Pro";
      font-weight: normal;
    }

    .from {
      font-size: 15px;
      font-family: "Minion Pro";
      text-transform: uppercase;
      margin-bottom: 20px;

      span.price {
        font-size: 50px;
        font-family: "Minion Pro";
        margin-left: 20px;
      }
    }

    .location, .bedrooms {
      font-family: "Minion Pro";
      font-size: 15px;
    }

    .price-range {
      font-size: 15px;
      font-family: "Minion Pro";
      text-transform: uppercase;
      margin-top: 10px;
    }

    .category {
      font-family: "Minion Pro";
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.villa-specs {
  padding: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.section-container.vertical-tabs {
  section .content {
    font-family: "Minion Pro" !important;
    font-size: 18px !important;
    line-height: 1.7 !important;
  }

  p.title {
    padding-right: 40px;
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
    text-transform: uppercase;

    a {
      border-bottom: 1px solid #ccc;
    }

    &:hover a {
      color: black;
    }

  }

  .content {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    padding-top: 10px !important;
  }
}

.shadow {
  -webkit-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}

.villa-row {
  margin-top: 30px;
}


.animate-enter {
  -webkit-transition: 300ms linear all; /* Safari/Chrome */
  -moz-transition: 300ms linear all; /* Firefox */
  -ms-transition: 300ms linear all; /* IE10 */
  -o-transition: 300ms linear all; /* Opera */
  transition: 300ms linear all; /* Future Browsers */

  /* The animation preparation code */
  opacity: 1;
}
.animate-leave
{
  -webkit-transition: 0ms linear all; /* Safari/Chrome */
  -moz-transition: 0ms linear all; /* Firefox */
  -ms-transition: 0ms linear all; /* IE10 */
  -o-transition: 0ms linear all; /* Opera */
  transition: 0ms linear all; /* Future Browsers */

  /* The animation preparation code */
  opacity: 0;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
}

nav.top-bar {
  background: -moz-linear-gradient(top,  rgba(175,178,181,1) 0%, rgba(175,178,181,0.45) 55%, rgba(125,185,232,0) 100%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,178,181,1)), color-stop(55%,rgba(175,178,181,0.45)), color-stop(100%,rgba(125,185,232,0))) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(175,178,181,1) 0%,rgba(175,178,181,0.45) 55%,rgba(125,185,232,0) 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(175,178,181,1) 0%,rgba(175,178,181,0.45) 55%,rgba(125,185,232,0) 100%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(175,178,181,1) 0%,rgba(175,178,181,0.45) 55%,rgba(125,185,232,0) 100%) !important; /* IE10+ */
  background: linear-gradient(to bottom,  rgba(175,178,181,1) 0%,rgba(175,178,181,0.45) 55%,rgba(125,185,232,0) 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afb2b5', endColorstr='#007db9e8',GradientType=0 ) !important; /* IE6-9 */

  .top-bar-section {
    ul {
      background: none !important;

      li a:not(.button) {
        display: inline !important;
        background: none !important;
        color: #666;
      }

      &.dropdown {
        border: 1px solid black;
      }
    }
  }
}

.areas-list {
  li > a {
    color: #777;
    font-size: 14px;

    &:hover {
      color: #ccc;

    }
  }
}

.villa-show .orbit-container {
  height: 300px;
}

.home-slider .orbit-container {
  height: 500px;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .2;
  z-index: 1000;
  top: 0;
}

.area-group {
  min-height: 370px;
}
