<footer>
  <div id="footer">
    <div id="footerLinkWrapper">
      <div id="footerLinkContainer">
        <div class="top">
          <div class="right">
            <div class="inlineLinks">
              <ul>
                <li><a href="/Content/About/">About Us</a></li>
                <li><a href="/Content/Contact/">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="topMsg">Get more</div>

        </div>
        <div class="bottom">
          <div class="blockWrapper">

            <div class="block right">

                <div class="inlineBlock">
                    <div class="sectionTitle">Quick Search </div>
                    <div>
                        Know which villa you want to go to?
                    </div>
                    <div class="ftInputWrapper">
                        <%= search_form_for @q do |f| %>
                            <div class="ui-widget">
                                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                <%= f.text_field :name_cont, class: 'tbAutocomplete ui-autocomplete-input ftInput', id: 'tags', autocomplete: 'off' %>
                                <span class="iSearch"></span>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="block center">

              <div class="inlineBlock">
                <div class="sectionTitle">Stay in the Know</div>
                <div>
                    Exclusive news & offers straight to your inbox:
                </div>
                <div class="ftInputWrapper">
                    <form id="signupForm" name="subscribe">
                        <input type="text" id="tbSignUpEmailAddress" class="ftInput" />
                        <input id="emailSubscriptionSubmit" type="submit" name="profile_go" value="SIGN UP" class="submit" />
                    </form>
                </div>
              </div>
            </div>
          </div>

          <div class="copyright">Copyright &copy; <%= Time.now.year %> Paloma Co., Ltd. ALL Rights Reserved.</div>
        </div>

      </div>

    </div>

  </div>
  <%= render 'shared/analytics' %>
</footer>
