<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
      </div><!--/span4-->

      <div class="span4">
      </div><!--/span4-->

      <div class="span4">
              <!-- Monthly Newsletter -->
            <div class="headline"><h3><%= t('home.contact_us') %></h3></div>
                <address>
          111/28 Laguna Village, Laguna, Cherngtalay <br />
          Phuket, 83110, Thailand <br />
          Phone: 800 123 3456 <br />
          Fax: 800 123 3456 <br />
          Email: <a href="mailto:info@zapestate.com" class="">info@zapestate.com</a>
                </address>
      </div><!--/span4-->
    </div><!--/row-fluid-->
  </div><!--/container-->
</div><!--/footer-->
<!--=== End Footer ===-->
