<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
      </div><!--/span4-->

      <div class="span4">
      </div><!--/span4-->

      <div class="span4">
              <!-- Monthly Newsletter -->
            <div class="headline"><h3><%= t('home.contact_us') %></h3></div>
                <address>
          96 Park Street, London, <br />
          W1K 6NY, United Kingdom <br />
          Tel.: +66 910 43 43 10 <br />
          Tel.: +44 208 144 55 64 <br />
          Email: <a href="mailto:info@phuketrenthouse.ru" class="">info@phuketrenthouse.ru</a>
                </address>
      </div><!--/span4-->
    </div><!--/row-fluid-->
  </div><!--/container-->
</div><!--/footer-->
<!--=== End Footer ===-->
