<nav class="top-bar" ng-hide="$route.current.loadedTemplateUrl == '/home/list.html'">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%= logo %>
      </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#menu" target="_self"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="active"><a href="/">Home</a></li>
      <li>
        <a href="/villas">Luxury Rentals</a>
      </li>
      <li><a href="/sales">Luxury Sales</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </section>
</nav>
