<div class="fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1 style="width: 400px; padding-left: 100px;">
          <a style="font-family: Arial; font-weight: normal; font-size: 25px;" href="#">DIGITAL VILLAS </a>
        </h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="active"><a href="#">Main Item 1</a></li>
        <li><a href="#">Main Item 2</a></li>
        <li class="has-dropdown"><a href="#">Main Item 3</a>

          <ul class="dropdown">
            <li><a href="#">Dropdown Level 1a</a>
            </li>
            <li><a href="#">Dropdown Level 1b</a></li>
            <li><a href="#">Dropdown Level 1c</a></li>
            <li><a href="#">Dropdown Level 1d</a></li>
            <li><a href="#">Dropdown Level 1e</a></li>
            <li><a href="#">Dropdown Level 1f</a></li>
            <li><a href="#">See all &rarr;</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>
